* {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    transition: 0.3s;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(193, 37, 37, 1) 98%);
}

h1 {
    width: 250px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(193, 37, 37, 1) 98%);
    color: white;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    -webkit-box-shadow: 5px 5px 15px -6px #000000;
    box-shadow: 5px 5px 15px -6px #000000;
}

.board {
    border-style: double;
    border-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

td {
    color: white;
    font-size: large;
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.hero {
    font-size: xx-large;
}

.shot {
    color: goldenrod;
}

.bless {
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(193, 37, 37, 1) 98%);
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    border-style: double;
    opacity: 0;
}

button {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(193, 37, 37, 1) 98%);
    color: white;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    -webkit-box-shadow: 5px 5px 15px -6px #000000;
    box-shadow: 5px 5px 15px -6px #000000;
    cursor: pointer;
}

.play {
    position: absolute;
    top: 10px;
    left: 10px;
}

.silent {
    position: absolute;
    top: 10px;
    right: 10px;
}

.restart {
    width: 580px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.point {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 7%, rgba(193, 37, 37, 1) 98%);
    color: white;
    -webkit-box-shadow: 5px 5px 15px -6px #000000;
    box-shadow: 5px 5px 15px -6px #000000;
    width: 150px;
    border-radius: 50%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}